/* .modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
   
    margin: auto;
    background-color: whitesmoke;
    z-index: 1000;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
} */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    z-index: 1000;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.overlayStyles {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1000;
}
/* .overlayStyles {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.45);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.closeButton {
    float: right;
    border: none;
    font-size: 22px;
    background-color: whitesmoke;
    margin-right: 5px;
    margin-top: 5px;
    transition: all 0.3s;
}
.closeButton:hover {
    color: #d2042d;
    cursor: pointer;
}
.modalContent {
    padding: 30px;
    padding-bottom: 0px;
}
.closeAnimation {
    animation-name: modalClose;
    animation-duration: 1s;
}

@keyframes modalShow {
    from {top: 0%;}
    to {top : 50%;}
}

@keyframes modalClose {
    from {top: 50%;}
    to {top : 0%;}
}