.detailItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    margin-right: 10px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
}

.itemKey {
    color: whitesmoke;
    font-size: 20px;
    background-color: #d2042d;
    border-radius: 12px;
    padding: 3px 7px;
    margin-right: 7px;
    font-weight: bold;
}
.itemValue {
    font-size: 22px;
    font-weight: 500;
}
.title { 
    font-size: 30px;
    text-align: left;
}