.tableSearch input{
    font-size: 22px;
    color: #d2042d;
    margin-bottom: 10px;
    border: 1.5px solid #333;
    border-radius: 5px;
}
.tableSearch label {
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}