.table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    margin-bottom: 10px;
}