.filterButtonGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
}

.filterButton {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    color: #333;
    background-color: white;
    border: 1px solid #333;
    width: 130px;
    padding: 10px 5px;
}
.filterButton:hover {
    color: #d2042d;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}
.active {
    background-color: rgb(226, 226, 226);
    color: #d2042d;
}